<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Analizza</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-row style="align-items: center;">
    <ion-col ><hr/></ion-col>
    <ion-col size="6" style="text-align: center;">
      @if (!scanActive) {
        <ion-button color="danger" shape="round" outline (click)="startScan()">
          New Scan
        </ion-button>
      } @else {
        <ion-button color="medium" shape="round" fill="solid" (click)="stopScan()">
          Stop Scan
        </ion-button>
      }
    </ion-col>
    <ion-col ><hr/></ion-col>
  </ion-row>

  <video #video [hidden]="!scanActive" width="100%"></video>
  <canvas #canvas hidden></canvas>
</ion-content>
